section {width:225px; height: 400px;
  background-image: url(http://estelle.github.com/10/files/sprite.png);
  -webkit-animation: gangham 4s steps(23,start) infinite,
    movearound 12s steps(69,end) infinite 44ms;
  animation: gangham 4s steps(23,start) infinite,
    movearound 12s steps(69,end) infinite alternate 44ms;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
    z-index: 3000;
}
@-webkit-keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@keyframes gangham {
  0% {background-position: 0 0}
  100% {background-position: -5175px 0}
}
@-webkit-keyframes movearound {
  0% {-webkit-transform: translatex(0)}
  100% {-webkit-transform: translatex(600px);}
}

@keyframes movearound {
  0% {transform: translatex(0)}
  100% {transform: translatex(600px);}
}
.related{
    z-index: 2000;
/*    margin-top: 150px;*/
    
}
.content{
    
    z-index: -100;
}
/*
.makeinline{
    
    
}*/<h1 class="main-title">
.demo-canvas{
    
    width:50%;
    float:right;
    clear: both;
}

.main-title{
    background-repeat: no-repeat;
    z-index: -2000;
}


/*CSS FROM PORTFORLIO-TROY*/

/*  HEADER STYLES  */

#page-header {
    height: 500px;
    background: azure;
}
#page-header > div.row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section#page-content,
section#page-content > #services {
    padding-top: 3em;
}
section#page-content {
    padding-bottom: 3em;
}
footer#page-footer {
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: 1px solid #cecece;
    width: 100%;
    text-align: center;
}
.text-center {
    font-family: 'Aref Ruqaa', serif;
}
#center{
    text-align: center;
}
#page-footer{
    text-align: center;
}
#services{
    margin-bottom: 80px;
}
#landing{
    text-align: center;
    word-spacing: 255px;
    margin-top: 0px;
    margin-left: 55px;
}
