/*  HEADER STYLES  */

#page-header {
    height: 500px;
    background: #cecece;
}
#page-header > div.row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section#page-content,
section#page-content > #services {
    padding-top: 3em;
}
section#page-content {
    padding-bottom: 3em;
}
footer#page-footer {
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: 1px solid #cecece;
    display: inline-block;
    width: 100%;
}
